*{
    padding: 0;
    margin: 0;
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    box-shadow: 0px 5px 7px -2px rgb(191, 189, 189);
    position: fixed;
    background-color: white;
    z-index: 100;
    width: 100%;
}

.tabGroup{
    display: flex;
    list-style: none;
}

.compName{
    font-size: 30px;
    font-weight: bold;
    margin-left: 20px;
}

.tab{
    margin-right: 20px;
    font-size: 20px;
}

.topPart{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 85vh;
}

.topText{
    font-size: 50px;
    text-align: center;
    font-weight: bold;
    padding: 40px 20px;
    width: 70%;
}

.button{
    background-color: black;
    color: white;
    font-size: 15px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}

.button:hover{
    cursor: pointer;
    background-color: #F6CD80;
    color: black;
    font-weight: bold;
    box-shadow: 5px 5px 10px 1px gray;
}

.mainImage{
    width: 100%;
}

.mainImageDiv{
    margin: 20px;
}

.aboutDiv{
    display: flex;
    flex-direction: column;
    margin: 40px 0;
    padding: 20px;
    background-color: #F6CD80;
}

.aboutImage{
    width: 100%;
    margin: 40px 0;
}

.aboutHead{
    font-size: 40px;
    font-weight: bold;
    margin: 20px 0;
}

.aboutCont{
    font-size: 20px;
    margin: 40px 0;
}

.offerDiv{
    padding: 20px;
    text-align: center;
}

.offerGroup, .offer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.offer{
    margin: 20px;
    text-align: center;
}

.offerTitle{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
}

.offerCont{
    font-size: 20px;
}

.footer{
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-top: 20px;
}

.footerCol{
    margin: 20px 0;
}

.colTitle{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
}

.colDetail{
    font-size: 18px;
    word-spacing: 10px;
}

.contactForm{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.formLabel{
    font-size: 18px;
    font-weight: bold;
    width: 100%;
}

.formGroup{
    margin: 10px 0;
}

.formInput{
    height: 25px;
    width: 100%;
}

@media screen and (max-width: 600px) {
    .navbar{
        text-align: center;
    }

    .tabGroup{
        display: none;
    }

    .compName{
        width: 100%;
    }

    .topText{
        width: 88%;
        margin-top: 60px;
    }
}

@media screen and (min-width: 600px) {
    .footer{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .footerCol{
        width: 30%;
        text-align: justify;
    }
}

@media screen and (min-width: 1024px) {
    .aboutDiv{
        flex-direction: row;
    }

    .aboutContDiv{
        padding-right: 20px;
    }

    .offerGroup{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .offer{
        width: 40%;
    }

    .topMainText{
        font-size: 80px;
    }
}